/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
    url('polices/ballpark.woff') format('woff'),
    url('polices/ballpark.ttf') format('truetype'),
    url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
    url('polices/dayrom.woff') format('woff'),
    url('polices/dayrom.ttf') format('truetype'),
    url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
h2
{

    font-size: 1.5em;
    color:#87CEEB;
    position:center
}

#bloc_user, #bloc_password, #bloc_securid div{
    margin-bottom:15px;
}
form div{
    text-align:center;
}
#bloc_logon #user, #bloc_logon #password, #bloc_logon div label, #bloc_securid div label{
    width:100%;
    float:none;
    display:block;
    text-align:center;
}

#titre {
    display: block;
    float: left;
    margin: 4em 0 4em 1em;
    text-align: center;
}
#revealer
{
    top:-28px;
    left:0;
}
#bloc_user, #bloc_password, #bloc_securid div{
    margin-bottom:15px;
}

#bloc_logon #user, #bloc_logon #password{
    width:40%;
}
#titre{
    margin:0 0 2em 0;
    padding:1em 5px 0 0;
    min-height:90px;
    text-align:center;
}

#bandeau_large{
    float:left;
    display:block;
    text-align:center
}
.container {
    width: 200px;
    height: 200px;
    border: 1px #23282d solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#bloc_securid_confirmed_password label{
    width:528px;
}
form div{
    text-align:center;
}

.message{
    text-align:center;
}

.bouton{
    font-size:1.15em;
}
#revealer
{
    top:-28px;
    left:0;
}

#bloc_user, #bloc_password, #bloc_securid div{
    margin-bottom:15px;
}
input{width:327px;
    height:52px;
    padding-left:32px;
    font-size:15px;
    border:3px solid #999999;}
input[type=submit]{width:100px;
    height:30px;
    background-color:#87CEEB;
    color:white;
    font-size:15px;
    font-weight:normal;}
input[type=submit]:hover{cursor: pointer;
    background:#87CEEB;
    color:black;}
.commentaire{
    font-size:0.8em;

