<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Authentification!{% endblock %}</title>
        <link href='{{ asset('assets/style.css') }}' rel='stylesheet' type='text/css' media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            #bloc_logon label{
                min-width:200px;
                display: inline-block;
            }
            .forme{

                height: 30px;
            }
            h2{
                color: #87CEEB;
            }
        </style>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

        {% endblock %}


    </head>
    <body  >

<div class="container-fluid" style="height: 100%;margin-top:12px;margin-left: -5px">
    <div id="bandeau_large">
        <img src="{{ asset('assets/images/bandeau_large.jpg') }}" width="239" height="616" /></div>
    <div id="container">
        <div id="titre" style="float: none;">
            <img id="titre_img"src="{{ asset('assets/images/bandeau_gauche_national2.png') }}" class="bandeau_gauche_national2" alt="Acc&eacute;dez &agrave; vos applications" title="Acc&eacute;dez &agrave; vos applications"/>
        </div>
        <!--
                        </article>-->

        <h2>Authentification Webmail</h2>

        {% block body %}

        {% endblock %}
        {#  <script type="text/javascript">getFocus("user");</script>#}
    </div>

</div>


        {% block javascripts %}

        {% endblock %}

    </body>

    <!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/bs5/front-end/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Mar 2021 15:16:19 GMT -->
</html>
